{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="mt-4">
    <h2 class="text-center">Welcome and Consent</h2>
    <div class="pt-2">
    <p>Thank you for participating in this online research study conducted by the Systems Neuroscience of Auditory Perception Lab (SNAPlab) at Purdue University! We appreciate it!</p>
    </div>

    <h4>Purpose and Nature of Tasks</h4>
    <div class="border-top pt-2">
    <p>The purpose of this research is to help understand how our ears and brains help us interpret sounds. The long-term goals are to help those whose hearing is impaired, and to help improve how machines process sounds. As part of this study you will asked to use your own computer and headphones to make judgments about sounds (e.g., which of these three sounds is softest?), transcribe sounds (e.g., type the sentence spoken by the voice), or make simple judgments about images (e.g., which way is the arrow pointing?). </p>
    </div>

    <h4>Privacy/Confidentiality</h4>
    <div class="border-top pt-2">
    <p>Although we may ask for personal information (e.g., age, hearing loss etc.), we will <span class="font-weight-bold">never</span> ask for any information that will reveal your identity (e.g., name, email address, full date of birth etc.). We will only request that you provide your {{ context.marketplace }} ID. We may ask for this ID in multiple places, just to be sure. For security and functionality, our website uses “cookies” (small bits of information that we will ask your browser to store).</p>
    </div>

    <h4>Partial Participation</h4>
    <div class="border-top pt-2">
    <p> Participation is voluntary and you can opt-out of the study at any time. This study also has a number of questions embedded as screening or quality measures. A unique combination of answers to those questions may result in your participation being concluded early by our algorithms. Thus, partial participation may occur <span class="font-italic">either</span> as a result of you deciding to end your participation early, <span class="font-italic">or</span> if our algorithms determine that your responses meet criteria for early conclusion. </p>
    </div>

    <h4>Full and Partial Compensation </h4>
    <div class="border-top pt-2">
    <p>The total possible compensation for the study is as listed in {{ context.marketplace }}. Our study has multiple clearly-labeled "PARTs" (e.g., PART 1, PART 2, etc.), each accounting for a clearly-specified percentage of the total compensation. If your participation is partial, you will still be compensated for the PARTs that you complete. Note that each PART will have multiple questions and a PART is considered complete when you submit your responses to all questions within that PART.</p>
    </div>

    <h4>Risk of Loud Sound</h4>
    <div class="border-top pt-2">
    <p>Because our studies involve listening to sounds, there is some mild risk of the sounds being too loud for you. To minimize this risk, all our sound-based tasks will instruct you to reduce the volume down to 25% of your device's full volume and then adjust up to a comfortable level as you listen to a calibration sound.</p>
    </div>

    <h4>Contacting the Researcher</h4>
    <div class="border-top pt-2">
    <p>If you encounter any problems with our website or this study, you can contact the researcher anonymously via {{ context.marketplace }}. We will respond to your messages within 3-4 days (usually faster).</p>
    </div>

    <p>
      If all of this sounds OK to you, please check the consent checkbox below and click Continue.
    </p>

  	<form method="POST" class="content-section">
  		{% csrf_token %}
  		<fieldset class="form-group">
  			{{ context.form | crispy }}
  		</fieldset>
  		<fieldset class="form-group">
  			<button type="Submit" class="btn btn-outline-primary">Continue</button>
  		</fieldset>
  	</form>
  </div>
{% endblock content %}