{% extends 'tasks/base.html' %}

{% block content %}
  <h1 class="mt-4">Psychoacoustics on the web</h1>
  {% if user.is_authenticated %}
    <p>Hello {{ user }}!
  {% endif %}
  Welcome to Systems Neuroscience of Auditory Perception Lab (SNAPlab)'s online portal!
  SNAPlab is part of the <a href="http://www.purdue.edu/hhs/slhs/index.html"> Department of Speech, Language & Hearing Sciences </a>, and the <a href="http://engineering.purdue.edu/BME"> Weldon School of Biomedical Engineering </a> at <a href="http://www.purdue.edu/"> Purdue University</a>. At SNAPlab, we study the biological computations and neural circuits that underlie auditory perception. In particular, we are interested in how our ears and brains help us listen in complex everyday environments such as crowded restaurants and busy streets. This website is used by members of SNAPlab to host online listening experiments. </p>

  <p> We are still in the development and testing phase of this website. Note that a login is required to be able to access most parts of this site, but lab members and collaborators can easily register for an account in a few clicks by visiting the <a href="{% url 'users-register' %}"> registration page</a>. </p>

    <div class="row">
        <div class="col-sm">
        <div class="card shadow-sm mt-4 ml-2 mr-2 hoverable">
            <div class="card-body">
                <h5 class="card-title"> Experimenter Area </h5>
                <p class="card-text"> SNAPlab members can visit the experimenter area to create tasks and studies. "Experimenter" credentials will be required.
                </p>
                <a href="{% url 'mytasks' %}" class="btn btn-outline-primary btn-lg btn-block stretched-link">
                Let's check it out!
                </a>
            </div>
        </div>
        </div>

        <div class="col-sm">
        <div class="card shadow-sm mt-4 ml-2 mr-2 hoverable">
            <div class="card-body">
                <h5 class="card-title"> Run Through Demo Study </h5>
                <p class="card-text"> Participate in our 3-PART demo study. PART 1 is a brief survey, PART 2 is a quality/attentiveness check, and Part 3 is a speech-in-noise task </p>
                <a href="https://snaplabonline.com/study/demo/NT_QkQJ1zkU6EF_DIvS-bP-kkbLVfh2H/" class="btn btn-outline-primary btn-lg btn-block stretched-link">
                Run Demo Study
                </a>
            </div>
        </div>
        </div>

        <div class="col-sm">
        <div class="card shadow-sm mt-4 ml-2 mr-2 hoverable">
            <div class="card-body">
                <h5 class="card-title"> Interested In Participating? </h5>
                <p class="card-text"> We use Prolific.co to enroll research participants and compensate for time spent. Please use Prolific to participate in our paid studies. </p>
                <a href="https://www.prolific.co/" class="btn btn-outline-primary btn-lg btn-block stretched-link">
                Go To Prolific
                </a>
            </div>
        </div>
        </div>
    </div>
{% endblock content %}