{% extends "tasks/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ trial.taskcontext.icon_url }}">
        <div class="media-body">
          <h2 class="account-heading">Trial {{ trial.trialnum }} </h2>
          <audio controls>
            <source src="{{ MEDIA_URL }}{{ trial.taskcontext.stim_url }}" type="audio/wav">
            Your browser does not support the audio tag.
          </audio> 
        </div>
      </div>
      <form method="POST">
      {% csrf_token %}
      <div class="btn-group" data-toggle="buttons">
        {% for option in trial.taskcontext.choices %}
          <label class="btn btn-primary">
            <input type="radio" name="options" id="option1"> {{ option }}
          </label>
        {% endfor %}
      </div>
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Trial {{ trial.taskcontent.prompt }} </legend>
          {{ trial.form | crispy }}
        </fieldset>
        <fieldset class="form-group">
          <button type="Submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
  </div>
{% endblock content %}