{% extends "tasks/base.html" %}
{% block content %}
<div class="row">
  <div class="col-md-4 content-section">
    <img class="rounded-circle float-right" style="max-width: 20%" src="{{ trial.taskcontext.icon_url }}">
    <h3> Instructions </h3>
    <ul class="list">
      {% for inst in trial.taskcontext.instructions %}
        <li class="h4"> {{ inst }} </li>
      {% endfor %}
    </ul>
  </div>

  <div class="col-md-8 mt-4">
    <h3>Trial {{ trial.taskcontext.trialnum }} </h3>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ trial.taskcontext.progress }}%" aria-valuenow="{{ trial.taskcontext.progress }}" aria-valuemin="0" aria-valuemax="100"> </div>
    </div>
    <h4 class="mb-2 mt-4"> {{ trial.taskcontext.prompt }} </h4>

    <div class="content-section"> 
    <audio controls autoplay style="width: 100%">
      {% if trial.taskcontext.serveraudio %}
        <source src="{{ MEDIA_URL }}{{ trial.taskcontext.stim_url }}" type="audio/wav">
      {% else %}
        <source src="{{ trial.taskcontext.stim_url }}" type="audio/wav">
      {% endif %}
      Your browser does not support the audio tag.
    </audio>
    </div>

    <form method="POST">
    {% csrf_token %}
      {% for option in trial.taskcontext.choices %}
        <button type="Submit" name="answer" class="btn btn-outline-secondary mt-4" value="{{ forloop.counter }}">
          {{ option }}
        </button>
      {% endfor %}
    </form>

  </div>
</div>
{% endblock content %}