{% extends "tasks/base.html" %}
{% block content %}
  <div class="content-section">

    <div class="content-section">
      <h3> Instructions </h3>
      <ul class="list">
        {% for inst in trial.taskcontext.instructions %}
          <li class="h4"> {{ inst }} </li>
        {% endfor %}
      </ul>
    </div>

    <img class="rounded-circle float-right" style="max-width: 20%" src="{{ trial.taskcontext.icon_url }}">

    <h3>Trial {{ trial.trialnum }} </h3>
    <h4 class="mb-2 mt-2"> {{ trial.taskcontext.prompt }} </h4>


    <audio controls>
      <source src="{{ MEDIA_URL }}{{ trial.taskcontext.stim_url }}" type="audio/wav">
      Your browser does not support the audio tag.
    </audio> 

    <form method="POST">
    {% csrf_token %}
      {% for option in trial.taskcontext.choices %}
        <button type="Submit" name="answer" class="btn btn-secondary mt-2" value="{{ forloop.counter }}"> {{ option }} </button>
      {% endfor %}
    </form>

  </div>
{% endblock content %}