{% extends "studytree/base_study.html" %}
{% load static %}

{% block content %}
  <div class="mt-4">
    <h2> Welcome to {{study.displayname}}! </h2>
  </div>
  <div class="mt-4 content-section">
    {% if study.isdemo %}
    <h4> Your Participant ID: {{ study.subjid }} </h4>
    {% elif study.ispilot %}
    <h4> Your Participant ID: {{ study.subjid }} </h4>
    {% else %}
    <h4> Your {{ study.marketplace }} ID: {{ study.subjid }} </h4>
    <a href="{% url 'study-wrongid' %}"> Not Your ID? </a>
    {% endif %}
  </div>

  <div class="mt-4 border-bottom">
    <p> Thank you for participating in the study! Because our research is about perception of sounds, it is very important that you use <span class="font-weight-bold">headphones</span> or <span class="font-weight-bold">earphones</span> when completing the tasks in this study, and do so in a <span class="font-weight-bold">quiet room</span>. Please do <span class="font-italic">not</span> use desktop speakers or speakers built into your laptop. </p>
    <p> Please avoid bluetooth or <span class="font-italic">wireless</span> headphones when possible as this can sometimes cause problems leading to less accurate responses. </p>
    <img src="{% static 'studytree/img/hphone.png' %}" class="w-50 rounded mx-auto d-block" alt="">
    <p> This study has <span class="font-weight-bold">{{ study.ntasks_max}}</span> possible PARTs. Your progress through the study and completion status will be displayed below. Instructions for each PART will be provided when you begin those PARTs. As mentioned in the consent form, if our algorithms determine that your performance meets criteria for early conclusion, you may not see all the PARTs. To proceed, please click on the card for the next available part below.</p>
  </div>

  <div class="mt-4">
    {% if study.status == 'In Progress' %}
    <h4> Status: <span class="badge badge-warning"> In Progress </span></h4>
    <p> Partial compensation thus far for the study is: <span class="font-weight-bold">${{study.totalcomp}}</span></p>
    {% elif study.status == 'Concluded Early' %}
    <h4> Status: <span class="badge badge-danger"> Quality Check Failed </span></h4>
    <p> Partial compensation for the study is: <span class="font-weight-bold">${{study.totalcomp}}</span> </p>
    {% elif study.status == 'Completed' %}
    <h4> Status: <span class="badge badge-success"> Study Completed </span></h4>
    <p> Total compensation for the study is: <span class="font-weight-bold">${{study.totalcomp}}</span> </p>
    {% else %}
    <h4> Status: <span class="badge badge-secondary"> Unknown </span></h4>
    {% endif %}

    {% if study.status == 'Completed' %}
    {% else %}
    {% endif %}

    <p> You have completed <span class="font-weight-bold">{{ study.n_completed }}</span> out of <span class="font-weight-bold">{{ study.ntasks_max}}</span> possible parts.
    {% if study.task %}
    Below is the next available PART for you.
    {% endif %}
    </p>
  </div>

  {% if study.task %}
  <div class="card shadow-sm mt-4 mb-4 ml-4 hoverable" style="width: 18rem;">
    <div class="card-header">
    <img src="{% get_media_prefix %}/taskicons/task_default.png" class="card-img-top w-25 float-right" alt="">
    <h3> PART {{ study.n_completed|add:"1" }}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title"> {{ study.task.displayname }} </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        Compensation: ${{ study.taskcomp }}
      </h6>
      <p class="card-text"> {{ study.task.descr }} </p>
      {% if study.issurvey %}
      <a href="{% url 'core-survey' %}" class="btn btn-outline-primary btn-lg btn-block stretched-link">
      Do Survey
      </a>
      {% else %}
      <a href="{% url 'run-task' taskurl=study.task.task_url %}" class="btn btn-outline-primary btn-lg btn-block stretched-link">
      Do Task
      </a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if study.isdemo is not True %}
  {% if study.ispilot is not True %}
  {% if study.status == 'In Progress' %}
  <div class="mt-4 border-top border-bottom mb-4">
    <h4 class="mt-2"> Want to leave the study early?</h4>
    <p> If you would like to leave the study before completion, or if you face any technical issues with our website, please go back to <a href="https://Prolific.co">Prolific</a> and <span class="font-weight-bold">return</span> the study. We will remember your partial compensation and pay that as a <span class="font-weight-bold">bonus</span> via Prolific within ~2 weeks. </p>
  </div>
  {% elif study.status == 'Concluded Early' %}
  <div class="mt-4 border-top border-bottom mb-4">
    <h4 class="mt-2"> Study concluded early ...</h4>
    <p> Your responses did not pass our attention/quality checks, or there may have been a technical difficulty. Thus the study is concluded early. Not to worry though! Please go back to <a href="https://Prolific.co">Prolific</a> and <span class="font-weight-bold">return</span> the study by selecting the <span class="font-weight-bold text-danger">Stop without completing</span> button. We will pay your partial compensation as a <span class="font-weight-bold">bonus</span> via Prolific within ~2 weeks (likely much sooner). Returned studies will not affect your standing on Prolific. </p>
    <p> Thank you very much for your participation! </p>
  </div>
  {% elif study.status == 'Completed' %}
  <div class="mt-4 border-top border-bottom mb-4">
    <h4 class="mt-2"> All done! </h4>
    <p> You have completed the study! Thank you very much for your participation! Click on the link below to submit the confirmation code to Prolific: </p>
    <h5><a href="{{study.endurl}}">{{study.endurl}}</a></h5>
  </div>
  {% endif %}

  {% endif %}
  {% endif %}
{% endblock content %}