{% extends 'jspsych/base.html' %}
{% load static %}
{% block script %}

    /* Script-scope variables for handling feedback easily */
    var correct = false;  // will change dynamically
    var wrong_feedback_stim = '{% static 'jspsych/img/wrong.png' %}';
    var correct_feedback_stim = '{% static 'jspsych/img/correct.png' %}';
    {% if task.holdfeedback %}
        var feedbackdur = null;
        var choices_feedback = ['Next'];
    {% else %}
      {% if task.feedbackdur %}
        var feedbackdur = {{ task.feedbackdur }};
      {% else %}
        var feedbackdur = 500; // Hardcoding
      {% endif %}
        var choices_feedback = [];
    {% endif %}


    /* create timeline */
    var subjid = '{{ task.subject }}';
    var task_url = '{{ task.task_url }}';
    var trialnum = 0; // This keeps an index only of the nAFC audio trials
    var timeline = [];
    jsPsych.data.addProperties({
        subject: subjid,
        task_url: task_url
    });

    /* Volume adjustment phase */
    {% for trial in task.voltrials %}
      {% if trial.plugin == 'hari-audio-button-response' %}
        var jstrial = {
          type: '{{ trial.plugin }}',
          {% if task.serveraudio %}
          stimulus: '{% get_media_prefix %}stimuli/{{trial.stimulus}}',
          {% else %}
          stimulus: '{{ trial.stimulus|safe }}',
          {% endif %}
          prompt: '{{ trial.prompt|safe }}',
          choices: {{ trial.choices|safe }}
        };
        timeline.push(jstrial);
        {% else %}
        var jstrial = {
          type: '{{ trial.plugin }}',
          stimulus: '{{ trial.prompt|safe }}',
          choices: {{ trial.choices|safe }}
        };
        timeline.push(jstrial);
        {% endif %}
    {% endfor %}


    /* Instruction Phase -- REMOVE ONE */
    {% for inst in task.instructions %}
        var welcome = {
          type: 'html-button-response',
          choices: ['Continue'],
          stimulus: '{{ inst|safe }}'
        };
        timeline.push(welcome);
    {% endfor %}

    // Below uses the instructions plugin if we want that later
    /*
    var welcome = {
    type: 'instructions',
    pages: {{ task.instructions|safe }},
    show_clickable_nav: true
    }
    timeline.push(welcome);
    */
    

    /* Actual trials */
    {% for trial in task.trials %}
        {% if trial.plugin == 'hari-audio-button-response' %}
        var jstrial = {
          type: '{{ trial.plugin }}',
          {% if task.serveraudio %}
          stimulus: '{% get_media_prefix %}stimuli/{{trial.stimulus}}',
          {% else %}
          stimulus: '{{ trial.stimulus|safe }}',
          {% endif %}
          prompt: '{{ trial.prompt|safe }}',
          choices: {{ trial.choices|safe }},
          on_finish: function(data) {
            trialnum = trialnum + 1;
            data.trialnum = trialnum;
            var answer = {{ trial.answer }} - 1;
            data.annot = '{{ trial.annot|escapejs }}';
            data.cond = {{ trial.cond }};
            if (data.button_pressed == answer){
              correct = true;
              data.correct = true;  // Also write to trial's data object
            } else {
              correct = false;
              data.correct = false;
            }
            saveSingleTrial(jsPsych.data.getLastTrialData().json(), subjid,
              task_url, trialnum, correct);
            }
        };
        timeline.push(jstrial);

          {% if task.feedback %}
            var feedback = {
              type: 'image-button-response',
              stimulus: function(){
                if (correct){
                  return correct_feedback_stim;
                } else {
                  return wrong_feedback_stim;
                }
              },
              stimulus_height: 200,
              stimulus_duration: feedbackdur,
              trial_duration: feedbackdur,
              choices: choices_feedback
            };

            timeline.push(feedback);

          {% endif %}
        {% else %}
        var jstrial = {
          type: '{{ trial.plugin }}',
          stimulus: '{{ trial.prompt|safe }}',
          choices: {{ trial.choices|safe }}
        };
        timeline.push(jstrial);
        {% endif %}
    {% endfor %}

    /* List feedback image files for pre-loading as they are dynamic */
    images = [wrong_feedback_stim, correct_feedback_stim];

    /* start the experiment */
    jsPsych.init({
      timeline: timeline,
      show_progress_bar: true,
      preload_images: images,
      default_iti: {{ task.isi }},
    {% if task.randomize %}
      randomize_order: true,
    {% else %}
      randomize_order: false,
    {% endif %}
      on_finish: function() {
        saveData(jsPsych.data.get().json(), subjid, task_url, jsPsych.data.getInteractionData().json());
      }
    });
    toStudy();
{% endblock script %}